<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Pirrot Wings</span>
      <span class="example-spacer"></span>
      <span>Name: TestUser</span>
      <span>Balance: 500 PW</span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon> attach_money</mat-icon>
        Create new transaction
      </button>
      
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<app-pw-table></app-pw-table>