.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://i.picsum.photos/id/256/1920/1080.jpg?hmac=X6wr1qt4rhyEeZNuOxEyE8ObJzM6iqGXJFxIVbW43CA');
    background-size: cover;
}